.navbar-inverse .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.navbar {
    margin-bottom: 3%;
}

.skill-title-1 {
    margin-bottom: 60px;
    font-size: 2em;
}

.skill-title-2 {
    margin-bottom: 60px;
    font-size: 1.5em;
    font-style: italic;
    text-decoration: underline;
}

.skill {
    text-align: center;
    margin-right: 30px;
}

.skill-section {
    border: 1px dashed grey;
    border-bottom-style: 100% dashed grey;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 10px;
    margin-bottom: 50px;
}