{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Créer un article</h1>
    <hr>
    <div class="m-4">
        <a href="{{ path('veille_index') }}" class="btn btn-primary">Retour</a>
    </div>

    <div class="col-md-6 col-lg-6 justify-content-center align-items-center">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Créer" class="btn btn-success"/>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
