{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="skill-title-1 text-center">Curriculum vitae</h1>
    <embed src="{{asset('ressources/cv.pdf?#zoom=100')}}" width="100%" height="1200" type="application/pdf"/>
{% endblock %}