{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Tableau de synthèse des compétences</h1>
    <embed src="{{asset('ressources/tableau-synthese.pdf')}}" width="100%" height="800" type="application/pdf"/>
</div>
{% endblock %}